<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.mcpme.server</string>
	<key>WorkingDirectory</key>
	<string>__WORKING_DIRECTORY__</string>
	<key>ProgramArguments</key>
	<array>
		<string>__BUNDLE_BIN__</string>
		<string>exec</string>
		<string>__RUBY_BIN__</string>
		<string>bin/server</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>__PATH__</string>
		<key>LANG</key>
		<string>en_US.UTF-8</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>StandardOutPath</key>
	<string>__WORKING_DIRECTORY__/log/mcpme.stdout.log</string>
	<key>StandardErrorPath</key>
	<string>__WORKING_DIRECTORY__/log/mcpme.stderr.log</string>
</dict>
</plist>
